body {
    font-family: Arial, sans-serif;
    background-color:cadetblue; /* Dark green background from image */
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Left side smaller than right */
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

/* White boxes for sections */
section{
    background: lightgray; 
    padding: 20px;
    border-radius: 30px;
}

/* Form styling */
form label{ display: block; margin-top: 10px; font-weight: bold; }
form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* The Event Cards */
.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.event-card {
    background: #d1d5d4;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}